<!DOCTYPE html>
<html>
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3JJ7Z1TNXY"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-3JJ7Z1TNXY');
    </script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9265689402316542"
         crossorigin="anonymous"></script>
    <title>ドラクエタクト ダメージ計算</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <div class="container">
        <h3>ドラクエタクト 物理ダメージ計算 WEBアプリ</h3>

        <div class="header">
            <a href="{{ url_for('index') }}">詳細計算Ver.（トップ）</a>
            <a href="{{ url_for('simple') }}">超簡易計算Ver.</a>
            <a href="{{ url_for('other_page') }}" target="_blank">※使い方、ご注意点※</a>
            <a href="{{ url_for('privacy') }}" target="_blank">プライバシーポリシー</a>
        </div>


    <form id="damage-form">
        <div class="calculator-grid">


            <!--攻撃側ブロック-->
            <div class="attack-side">
                <div class="attack-input">
            <h2>攻撃側</h2>
            </div>
            <div class="section">
                <h3>攻撃力</h3>
                    <div class="input-group">
                    <input type="range" id="attack" name="attack" min="0" max="1500" step="1" value="500" style="width: 100%; " >
                    <span id="attackValue">500</span>
                    <button type="button" onmousedown="startIncrement('attack')" onmouseup="stopIncrement()" onmouseleave="stopIncrement()" ontouchstart="startIncrement('attack')" ontouchend="stopIncrement()">+1</button>
                </div>
                <div class="buff-toggles">
                    <div class="toggle-switch">
                        <label class="switch">
                            <input type="checkbox" id="rida_buff">
                            <span class="slider round"></span>
                        </label>
                        <span class="toggle-label">リーダースキル攻撃力15%UP（概算）</span>
                    </div>
                    <div class="toggle-switch">
                        <label class="switch">
                            <input type="checkbox" id="turn_buff">
                            <span class="slider round"></span>
                        </label>
                        <span class="toggle-label">ターン攻撃力UP（概算）</span>
                    </div>
                </div>
                <div class="base-attack">
                    <h3>バフ後想定攻撃力（目安です）: <span id="buffed_attack">500</span></h3>
                </div>
                </div>
                <div class="section">
                    <div class="input-group">
                    <label for="skill_mult"><h3>特技倍率(%)</h3></label>
                    <input type="number" id="skill_mult" name="skill_mult">
                </div>
                </div>
        <!-- 威力アップ系 -->
        <div class="section">
            <h3>威力アップ総合計値(ばつぐんは除外) </h3>
            <div class="input-group">
                <input type="range" id="leader_power" name="leader_power" min="0" max="100" step="0.5" value="0" style="width: 70%;">
                <span id="leader_powerValue">0%</span>
                <button type="button" onmousedown="startIncrement('leader_power')" onmouseup="stopIncrement()" onmouseleave="stopIncrement()" ontouchstart="startIncrement('leader_power')" ontouchend="stopIncrement()">+0.5</button>
            </div>
        </div>

<!-- バフ系 -->
        <div class="section">
            <h3>各種バフ</h3>
            <div class="input-group" >
                <label for="tension">テンション</label>
                <input type="range" id="tension" name="tension" min="0" max="100" step="20" value="0" style="width: 40%;">
                <span id="tensionValue">0%</span>
            </div>
            <div class="input-group">
                <label for="gangan">ガンガン系</label>
                <input type="range" id="gangan" name="gangan" min="0" max="90" step="15" value="0" style="width: 40%;">
                <span id="ganganValue">0%</span>
            </div>
            <div class="input-group">
                <label for="anger">憤怒、不屈</label>
                <input type="range" id="anger" name="anger" min="0" max="50" step="50" value="0" style="width: 40%;">
                <span id="angerValue">0%</span>
            </div>
            <div class="input-group">
                <label for="force">フォース状態</label>
                <input type="range" id="force" name="force" min="0" max="20" step="20" value="0" style="width: 40%;">
                <span id="forceValue">0%</span>
            </div>
            <div class="input-group">
                <label for="morale">士気高揚</label>
                <input type="range" id="morale" name="morale" min="0" max="10" step="10" value="0" style="width: 40%;">
                <span id="moraleValue">0%</span>
            </div>
            <div class="input-group">
                <label for="formation_buff">陣の展開</label>
                <input type="range" id="formation_buff" name="formation_buff" min="0" max="10" step="10" value="0" style="width: 40%;">
                <span id="formation_buffValue">0%</span>
            </div>
            <div class="input-group">
                <label for="zone_buff">ゾーン状態</label>
                <input type="range" id="zone_buff" name="zone_buff" min="0" max="20" step="20" value="0" style="width: 40%;">
                <span id="zone_buffValue">0%</span>
            </div>
            <div class="input-group">
                <label for="hp_buff">HP条件バフ</label>
                <input type="range" id="hp_buff" name="hp_buff" min="0" max="100" step="10" value="0" style="width: 40%;">
                <span id="hp_buffValue">0%</span>
            </div>
            <div class="input-group">
                <label for="enhance">エンハンス</label>
                <input type="range" id="enhance" name="enhance" min="0" max="60" step="20" value="0" style="width: 40%;">
                <span id="enhanceValue">0%</span>
            </div>
            <div class="input-group">
                <label for="other_buff2">その他バフ予備</label>
                <input type="number" id="other_buff2" name="other_buff2">
            </div>
        </div>
        <!-- ばつぐん -->
        <div class="section">
                <h3>装備、開花などのばつぐん合計値</h3>
                <div class="input-group">
                <input type="range" id="batsugun" name="batsugun" min="0" max="40" step="0.5" value="0"  style="width: 70%;">
                <span id="batsugunValue">0%</span>
                <button type="button" onmousedown="startIncrement('batsugun')" onmouseup="stopIncrement()" onmouseleave="stopIncrement()" ontouchstart="startIncrement('batsugun')" ontouchend="stopIncrement()">+0.5</button>
            </div>
        </div>
        <!-- 攻撃回数 -->
        <div class="section">
            <h3>攻撃回数（通常は1回）</h3>
            <div class="input-group">
                <label for="attack_count">1度で2回攻撃以上の場合</label>
                <input type="range" id="attack_count" name="attack_count" min="1" max="10" step="1" value="1" style="width: 30%;">
                <span id="attack_countValue">1</span>
                <button type="button" onmousedown="startIncrement('attack_count')" onmouseup="stopIncrement()" onmouseleave="stopIncrement()" ontouchstart="startIncrement('attack_count')" ontouchend="stopIncrement()">+1</button>
            </div>
        </div>

        <div class="section">
            <h3>デバフ系</h3>
                <div class="input-group">
                <label for="ryuou_mark">りゅうおう刻印</label>
                <input type="range" id="ryuou_mark" name="ryuou_mark" min="0" max="30" step="10" value="0" style="width: 40%;">
                <span id="ryuou_markValue">0%</span>
                    </div>
                <div class="input-group">
                <label for="phys_down">物理耐性ダウン</label>
                <input type="number" id="phys_down" name="phys_down">
                    </div>
                <div class="input-group">
                <label for="element_down">属性耐性ダウン</label>
                <input type="number" id="element_down" name="element_down">
                    </div>
                <div class="input-group">
                <label for="damage_up">被ダメ上昇</label>
                <input type="number" id="damage_up" name="damage_up">
                    </div>
        </div>
    

        </div>

            <!-- 受ける側のブロック -->
            <div class="defense-side">
                <div class="def-input">
            <h2>受ける側</h2>
        </div>
        <div class="section">
            <h3>守備力</h3>
            <div class="input-group">
                <input type="range" id="defense" name="defense" min="0" max="1500" step="1" value="400" style="width: 100%;">
                <span id="defenseValue">400</span>
                <button type="button" onmousedown="startIncrement('defense')" onmouseup="stopIncrement()" onmouseleave="stopIncrement()" ontouchstart="startIncrement('defense')" ontouchend="stopIncrement()">+1</button>

            </div>
        </div>
        <!-- 属性相性の選択部分 -->
        <div class="section">
            <h3>耐性</h3>
            <div class="input-group">
                <label for="element_type">耐性を選択</label>
                <select id="element_type" name="element_type">
                    <option value="大弱点(150%)">大弱点(150%)</option>
                    <option value="弱点(125%)">弱点(125%)</option>
                    <option value="等倍(100%)" selected>等倍(100%)</option>
                    <option value="軽減(75%)">軽減(75%)</option>
                    <option value="半減(50%)">半減(50%)</option>
                    <option value="激減(25%)">激減(25%)</option>
                </select>
                </div>
                ※レックの無属性耐性はここを激減に設定で対応可
        </div>
                <!-- 属性相性の選択部分 -->
                <div class="section">
                    <h3>属性耐性〇%UP（物理を除く）</h3>
                    <div class="input-group">
                        <label for="awaken_resist">開花対応（フル開花は基本5%）</label>
                        <input type="range" id="awaken_resist" name="awaken_resist" min="0" max="5" step="5" value="0" >
                        <span id="awaken_resistValue">0%</span>
                    </div>
                    <div class="input-group">
                        <label for="equip_resist">装備、アクセでの耐性</label>
                        <input type="range" id="equip_resist" name="equip_resist" min="0" max="50" step="1" value="0" >
                        <span id="equip_resistValue">0%</span>
                    </div>
                </div>
                <div class="section">
                    <h3>すべてダメージ軽減計算</h3>
                    <div class="input-group">
                        <label for="panel_all_reduce">パネル軽減（フル解放基本5～7.5%）</label>
                        <input type="range" id="panel_all_reduce" name="panel_all_reduce" min="0" max="7.5" step="0.5" value="0" >
                        <span id="panel_all_reduceValue">0%</span>
                    </div>
                    <div class="input-group">
                        <label for="awaken_all_reduce">開花キャラ（基本1%）</label>
                        <input type="range" id="awaken_all_reduce" name="awaken_all_reduce" min="0" max="5" step="0.5" value="0" >
                        <span id="awaken_all_reduceValue">0%</span>
                    </div>
                    <div class="input-group">
                        <label for="other_all_reduce">すべての軽減予備</label>
                        <input type="number" id="other_all_reduce" name="other_all_reduce">
                    </div>
                </div>

                <!-- 物理耐性系 -->
                <div class="section">
                    <h3>物理耐性の計算</h3>
                    <div class="input-group">
                        <label for="char_resist">ドレアム、大魔王等耐性</label>
                        <input type="range" id="char_resist" name="char_resist" min="0" max="30" step="5" value="0" >
                        <span id="char_resistValue">0%</span>
                    </div>
                    <div class="input-group">
                        <label for="equip_phys_resist">装備,開花,属性の物理耐性合計</label>
                        <input type="range" id="equip_phys_resist" name="equip_phys_resist" min="0" max="70" step="0.5" value="0" style="width: 70%;">
                        <span id="equip_phys_resistValue">0%</span>
                        <button type="button" onmousedown="startIncrement('equip_phys_resist')" onmouseup="stopIncrement()" onmouseleave="stopIncrement()" ontouchstart="startIncrement('equip_phys_resist')" ontouchend="stopIncrement()">+0.5</button>
                    </div>
                        <div class="input-group">
                                <label for="other_phys_resist">王子ピサロ耐性バラマキ</label>
                                <input type="range" id="other_phys_resist" name="other_phys_resist" min="0" max="45" step="15" value="0">
                                <span id="other_phys_resistValue">0%</span>
                    </div>
                </div>

                <div class="section">
                    <h3>標準軽減・バフ</h3>
                    <div class="input-group">
                        <label for="hero_reduce">勇者系、魔王系軽減</label>
                        <input type="range" id="hero_reduce" name="hero_reduce" min="0" max="50" step="10" value="0" >
                        <span id="hero_reduceValue">0%</span>
                    </div>
                    <div class="input-group">
                        <label for="barrier">バリア系</label>
                        <input type="range" id="barrier" name="barrier" min="0" max="100" step="10" value="0">
                        <span id="barrierValue">0%</span>
                    </div>
                    <div class="input-group">
                        <label for="protect">まもつかのバラマキ</label>
                        <input type="range" id="protect" name="protect" min="0" max="20" step="20" value="0" >
                        <span id="protectValue">0%</span>
                    </div>
                    <div class="input-group">
                        <label for="formation_reduce">陣展開</label>
                        <input type="range" id="formation_reduce" name="formation_reduce" min="0" max="10" step="10" value="0" >
                        <span id="formation_reduceValue">0%</span>
                    </div>
                    <div class="input-group">
                        <label for="zone_reduce">ゾーン状態軽減</label>
                        <input type="range" id="zone_reduce" name="zone_reduce" min="0" max="20" step="20" value="0" >
                        <span id="zone_reduceValue">0%</span>
                    </div>
                    <div class="input-group">
                        <label for="support_reduce">補助キャラ軽減</label>
                        <input type="range" id="support_reduce" name="support_reduce" min="0" max="100" step="10" value="0" >
                        <span id="support_reduceValue">0%</span>
                    </div>
                    <div class="input-group">
                        <label for="force_reduce">フォース軽減</label>
                        <input type="range" id="force_reduce" name="force_reduce" min="0" max="20" step="20" value="0" >
                        <span id="force_reduceValue">0%</span>
                    </div>
                        <div class="input-group">
                        <label for="arena_reduce">闘技場補正</label>
                        <input type="number" id="arena_reduce" name="arena_reduce" value="30">
                            </div>
                        <div class="input-group">
                        <label for="other_reduce1">軽減予備</label>
                        <input type="number" id="other_reduce1" name="arena_reduce1">
                            </div>
                </div>


            </div>
        </div>
            <div class="calculation-wrapper">
                <div class="calculation-container">
                    <button type="submit" class="calculate-button">ダメージ想定</button>
                    <div id="result"></div>
                    <div id="process"></div>
                </div>
            </div>
        </form>

<script src="{{ url_for('static', filename='js/index.js') }}"></script>

    <div class="footer-section">
        こちらはタクトサーチ様などの資料を参考に作成しました。<br>
        ご支援、フィードバックは今後の物理計算以外でも励みになります。<br>
        他にもバグや露骨な計算違いがありましたらご一報下さい。<br>
        また、当アプリを参考にして行った戦闘や闘技場の結果に関しては、責任を負いかねます。<br>
        テスト段階である点をご理解した上でご利用下さい。<br>
        <br>
        当サイトは「ドラゴンクエストタクト」公式とは一切関係のない、個人運営の非公式計算ツールです。<br>
        ゲーム内の画像・名称・データ等に関する権利は、各権利者に帰属します。<br>
        <br>
            <a href="{{ url_for('index') }}">詳細計算Ver.（トップ）</a>
            <a href="{{ url_for('simple') }}">超簡易計算Ver.</a>
            <a href="{{ url_for('other_page') }}" target="_blank">※使い方、ご注意点※</a>
            <a href="{{ url_for('privacy') }}" target="_blank">プライバシーポリシー</a>
        <br>
        <a href="{{ url_for('privacy') }}" target="_blank">プライバシーポリシー</a><br>
        <br>
        お問い合わせ、ご質問はお気軽にどお尋ね下さい。<br>
        X→<a href="https://x.com/ohemaru_tact" target="_blank">@ohemaru_tact</a>　mail:msz006.kobo@gmail.com<br>

        ©kobokobo All Right Reserved
            </div>
            

</body>
</html>