<!DOCTYPE html>
<html>
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3JJ7Z1TNXY"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-3JJ7Z1TNXY');
    </script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9265689402316542"
         crossorigin="anonymous"></script>
    <title>ドラクエタクト ダメージ計算</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index2.css') }}">
</head>
<body>
    <div class="container">
        <h3>ドラクエタクト 物理ダメージ計算 WEBアプリ</h3><br>
        <h3>超簡易Ver</h3>

        <div class="header">
            <a href="{{ url_for('index') }}">詳細計算Ver.（トップ）</a>
            <a href="{{ url_for('simple') }}">超簡易計算Ver.</a>
            <a href="{{ url_for('other_page') }}" target="_blank">※使い方、ご注意点※</a>
            <a href="{{ url_for('privacy') }}" target="_blank">プライバシーポリシー</a>
        </div>

        <form id="damage-form">
            <div class="calculator-grid">
                <!-- 攻撃側 -->
                <div class="attack-side">
                    <div class="section">
                        <h2>攻撃側</h2>
                        <div class="input-group">
                            <label for="attack"><h3>攻撃力</h3></label>
                            <input type="number" id="attack" name="attack" step="0.01">
                        </div>
                        <div class="buff-toggles">
                            <div class="toggle-switch">
                                <label class="switch">
                                    <input type="checkbox" id="rida_buff" onchange="updateAttack()">
                                    <span class="slider round"></span>
                                </label>
                                <span class="toggle-label">リーダースキル攻撃力15%UP（概算）</span>
                            </div>
                            <div class="toggle-switch">
                                <label class="switch">
                                    <input type="checkbox" id="turn_buff" onchange="updateAttack()">
                                    <span class="slider round"></span>
                                </label>
                                <span class="toggle-label">ターン攻撃力UP（概算）</span>
                            </div>
                        </div>
                        <div class="base-attack">
                            <h3>バフ後想定攻撃力（目安です）: <span id="buffed_attack">0</span></h3>
                        </div>

                        <div class="input-group">
                            <label for="skill_mult"><h3>特技倍率(%)</h3></label>
                            <input type="number" id="skill_mult" name="skill_mult" step="0.01">
                        </div>

                        <div class="input-group">

                            <label for="rank_power"><h3>威力UP総合計値(%)</h3></label>
                            <input type="number" id="rank_power" name="rank_power" step="0.01">
                        </div>

                        <div class="input-group">
                            <label for="batsgun"><h3>ばつぐん　総合計値(%)</h3></label>
                            <input type="number" id="batsgun" name="batsgun" step="0.01">
                        </div>
                    </div>
                </div>

                <!-- 受ける側 -->
                <div class="defense-side">
                    <div class="section">
                        <h2>受ける側</h2>
                        <div class="input-group">
                            <label for="defense"><h3>守備力</h3></label>
                            <input type="number" id="defense" name="defense">
                        </div>

                        <div class="input-group">
                            <label for="element_type">耐性を選択</label>
                            <select id="element_type" name="element_type">
                                <option value="大弱点(150%)">大弱点(150%)</option>
                                <option value="弱点(125%)">弱点(125%)</option>
                                <option value="等倍(100%)" selected>等倍(100%)</option>
                                <option value="軽減(75%)">軽減(75%)</option>
                                <option value="半減(50%)">半減(50%)</option>
                                <option value="激減(25%)">激減(25%)</option>
                            </select>
                        </div>

                        <div class="input-group">
                            <label for="arena_reduce">闘技場軽減(%)</label>
                            <input type="number" id="arena_reduce" name="arena_reduce" value="30">
                        </div>
                    </div>
                </div>
            </div>

            <div class="calculation-wrapper">
                <div class="calculation-container">
                    <button type="submit" class="calculate-button">ダメージ想定</button>
                    <div id="result"></div>
                </div>
            </div>
        </form>

    </div>
    <script src="{{ url_for('static', filename='js/index2.js') }}"></script>

        <div class="footer-section">
            こちらはタクトサーチ様などの資料を参考に作成しました。<br>
            ご支援、フィードバックは今後の物理計算以外でも励みになります。<br>
            他にもバグや露骨な計算違いがありましたらご一報下さい。<br>
            また、当アプリを参考にして行った戦闘や闘技場の結果に関しては、責任を負いかねます。<br>
            テスト段階である点をご理解した上でご利用下さい。<br>
            <br>
            当サイトは「ドラゴンクエストタクト」公式とは一切関係のない、個人運営の非公式計算ツールです。<br>
            ゲーム内の画像・名称・データ等に関する権利は、各権利者に帰属します。<br>
            <br>
            <a href="{{ url_for('index') }}">詳細計算Ver.（トップ）</a>
            <a href="{{ url_for('simple') }}">超簡易計算Ver.</a>
            <a href="{{ url_for('other_page') }}" target="_blank">※使い方、ご注意点※</a>
            <a href="{{ url_for('privacy') }}" target="_blank">プライバシーポリシー</a>
            <br>
            <a href="{{ url_for('privacy') }}" target="_blank">プライバシーポリシー</a><br>
            <br>
            お問い合わせ、ご質問はお気軽にどお尋ね下さい。<br>
            X→<a href="https://x.com/ohemaru_tact" target="_blank">@ohemaru_tact</a>　mail:msz006.kobo@gmail.com<br>
            <br>
            ©kobokobo All Right Reserved
        </div>
    </body>
</html>